<phpunit colors="true">
    <php>
        <server name="KERNEL_CLASS" value="AppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>

    <testsuites>
        <testsuite name="codeinEzSeoToolkit">
            <directory>./tests/bundle/</directory>
            <directory>./tests/lib</directory>
        </testsuite>
    </testsuites>

</phpunit>
