<?xml version="1.0"?>
<psalm
    errorLevel="5"
    resolveFromConfigFile="true"
    cacheDirectory="/tmp/pslam"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="bundle"/>
        <ignoreFiles>
            <directory name="vendor"/>
            <directory name="bundle/DoctrineMigrations"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin"/>
    </plugins>
    <issueHandlers>
        <ParamNameMismatch>
            <errorLevel type="info">
                <directory name="bundle/" />
            </errorLevel>
        </ParamNameMismatch>
        <MethodSignatureMismatch>
            <errorLevel type="info">
                <directory name="bundle/" />
            </errorLevel>
        </MethodSignatureMismatch>
    </issueHandlers>
</psalm>
