// Override eZ.
.ez-context-menu {
  z-index: 2;
}

// Override boostrap.
.nav-tabs {
  border-bottom: none;

  .nav-link.active {
    background-color: #fafafa;
  }
}

// Custom style.
.page {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -1;

  &-inner {
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
}

.tab-content {
  min-height: 65vh;
}

.codein-header {
  .ez-content-edit-container__close {
    position: absolute;
    top: -0.270rem;
    left: -4.6875rem;
  }
}