<li class="ez-field meta-value">
    {% set meta_content_value = meta_content.alternativeText is not empty ? meta_content.alternativeText : meta_content.fileName %}
    <b>{{ label }}:</b> <span class="badge badge-secondary">{{ meta_content_value }}</span>

    {% set default_pattern = default_value is defined and default_value is not empty ? default_value.default_pattern|raw : null %}
    <code style="font-style: italic;font-size: 0.675rem;color: #d0caca;"> (Default Pattern: {{ default_pattern is empty ? "<em>empty</em>" : default_pattern }})</code>
</li>
